<%- include('layout/_header') %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard/<%= profileId %>" style="color: red;">Just</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard/<%= profileId %>">Post</a>
                </li>
            </ul>
            <form class="d-flex input-group w-auto">
                <div class="container-fluid">
                    <a style="color:white;text-decoration: none;" href="/user/<%= profileId %>/profile">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="color:white;text-decoration: none;" href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

            </form>
        </div>
    </div>
</nav>

<br><br><br>
<h1><center>What's going on</center></h1>
<br><br><br>
<div class="container" style="width: 40rem;">
    <form action="/dashboard/<%= profileId %>?search=">
         <input type="text" placeholder="search post by name" name="search" size="20">
         <select name="sort" class="btn-sm btn-dark">
            <option value="" disabled selected>--Urutkan Berdasarkan--</option>
            <option value="likeDesc">Like Terbanyak</option>
            <option value="likeAsc">Like Paling Sedikit</option>
         </select>
         <input type="submit" value="Search" class="btn-sm btn-dark">
    </form><br>
    <center><p style="background-color: yellow;display: inline;">Average like on posts is <%= Math.round(+data.avgLike.dataValues.avgLike) %> </p></center>
    
</div>
<br><br>

<center>

    <%data.posts.forEach(x=>{%>
        <div class="card" style="width: 40rem;">
            <p>Post by : <%= x.Profile.name %> </p>
            <img class="card-img-top" src="<%=x.imageUrl%>" alt="<%=x.Profile.name%>">
            <div class="card-body">
              <p class="card-text"><%= x.post %></p>
              <a href="/dashboard/<%=profileId%>/like/<%=x.id%>" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Like <%=x.like%></a>
            </div>
          </div>
          <br><br>
    <%})%>


</center>