<%- include('layout/_header') %> 
<%- include('layout/navLogout') %> 

<br><br><br>
<h1><center>What's going on</center></h1>
<br><br>

<center>
  
<%result.forEach(x=>{%>
    
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="<%=x.imageUrl%>" alt="<%=x.Profile.name%>">
            <div class="card-body">
              <p class="card-text"><%= x.post %></p>
              <a href="/dashboard/<%=x.Profile.id%>/like" class="btn btn-primary">Like <%=x.like%></a>
            </div>
            <br><br>
          </div>
<%})%>
</center>