<%- include('layout/_header') %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: red;">Just</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Post</a>
                </li>
            </ul>
            <form class="d-flex input-group w-auto">
                <div class="container-fluid">
                    <a style="color:white;text-decoration: none;" href="/user/<%= result.id %>/profile">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="color:white;text-decoration: none;" href="/">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>

            </form>
        </div>
    </div>
</nav>

<br><br><br>
<h1><center>Hello <%=result.name%> !</center></h1>
<br><br>

<center>
    <section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="<%=result.photo%>"
                      alt="<%=result.name%>" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                    <a href ="/user/<%= result.id %>/profile/editProfile" button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                      style="z-index: 1;">
                      Edit Profile
                    </a>
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5><%=result.name%></h5>
                    <p><%=result.city%></p>
                  </div>
                </div>
                <br>
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1"><%=result.dob%></p>
                      <p class="font-italic mb-1"><%=result.phone%></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0">Post</p>
                    <a href="/user/<%= result.id %>/profile/addPost" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Add new Post</a>
                  </div>
                  <div class="card" style="width: 40rem;">
                    <% result.Posts.forEach(x=>{%>
                    <img class="card-img-top" src="<%=x.imageUrl%>">
                    <div class="card-body">
                      <p class="card-text"><%= x.post %></p>
                      <a href="/user/<%= result.id %>/profile/<%=x.id%>/editPost" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Edit</a>
                      <a href="/user/<%= result.id %>/profile/<%=x.id%>/deletePost" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Delete</a>
                    </div>
                    <%})%>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</center>